{% extends '../layouts/default.html' %} 

{% block content %}
{% for message in messages%}
  <span message style="color: red;">{{message}}</span>
{% endfor %}
<form action="/login/" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Tên Đăng Nhập</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mật Khẩu</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Đăng Nhập</button>
  <a href="/face-id/" class="btn btn-success"><i class="fa-regular fa-face-smile pe-2"></i>Face ID</a>
</form>
{% endblock %}
